 <!DOCTYPE html>
 <html>
 
	<head>
		<h1>Input Page </h1>
	</head>
	
	<body>
		<form method="post">
			<p> Difficulty: </p>
			<input type="radio" name="difficulty" value = "5"> 5
			<input type="radio" name="difficulty" value = "4"> 4
			<input type="radio" name="difficulty" value = "3"> 3
			<input type="radio" name="difficulty" value = "2"> 2
			<input type="radio" name="difficulty" value = "1"> 1
			<br>
			<p> Course Workload </p>
			<input type="radio" name="work" value = "5"> 5
			<input type="radio" name="work" value = "4"> 4
			<input type="radio" name="work" value = "3"> 3
			<input type="radio" name="work" value = "2"> 2
			<input type="radio" name="work" value = "1"> 1
			<br>
			<p> Interest Level </p>
			<input type="radio" name="interest" value = "5"> 5
			<input type="radio" name="interest" value = "4"> 4
			<input type="radio" name="interest" value = "3"> 3
			<input type="radio" name="interest" value = "2"> 2
			<input type="radio" name="interest" value = "1"> 1
			<br>
			<p> Reading </p>
			<input type="radio" name="reading" value = "5"> 5
			<input type="radio" name="reading" value = "4"> 4
			<input type="radio" name="reading" value = "3"> 3
			<input type="radio" name="reading" value = "2"> 2
			<input type="radio" name="reading" value = "1"> 1
			<br>
			<p> Time Requirement per Week </p>
			<input type="radio" name="time" value = "5"> 5
			<input type="radio" name="time" value = "4"> 4
			<input type="radio" name="time" value = "3"> 3
			<input type="radio" name="time" value = "2"> 2
			<input type="radio" name="time" value = "1"> 1
			<br>
			<p> Course Workload </p>
			<input type="radio" name="work" value = "5"> 5
			<input type="radio" name="work" value = "4"> 4
			<input type="radio" name="work" value = "3"> 3
			<input type="radio" name="work" value = "2"> 2
			<input type="radio" name="work" value = "1"> 1
			<br>
			<p> Test Difficulty </p>
			<input type="radio" name="test" value = "5"> 5
			<input type="radio" name="test" value = "4"> 4
			<input type="radio" name="test" value = "3"> 3
			<input type="radio" name="test" value = "2"> 2
			<input type="radio" name="test" value = "1"> 1
			<br>
			<p> Writing </p>
			<input type="radio" name="writing" value = "5"> 5
			<input type="radio" name="writing" value = "4"> 4
			<input type="radio" name="writing" value = "3"> 3
			<input type="radio" name="writing" value = "2"> 2
			<input type="radio" name="writing" value = "1"> 1
			<br><br>
			Comment: <br />
			<textarea rows="5" cols="50" name="user_comment">
			</textarea>
			<br><br>
			<input type="submit" value="Submit">
		</form>
	</body>
	
</html>
