<md-dialog ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Feedback</h2>
                <span flex></span>
            </div>
        </md-toolbar>

        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <div class="md-dialog-content">
            </div>
        </md-dialog-content>
            
        <md-dialog-actions layout="row">
            <md-button id="submit-btn" ng-click="Rate()">Submit</md-button>
            <md-button id="close-btn" data-dismiss="modal">Close</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>